$backgroundColor: #9d695a;
$tileColor1: #78e0dc;
$tileColor2: #d496a7;
$tileColor3: #ffd166;
$player2Color: #302f31;
$player1Color: #ffffff;
$mainFont: 'Share Tech Mono';
$secondaryFont: 'Euphoria Script';

h1 {
    color: black;
    font-family: $mainFont;
    position: absolute;
    font-size: 3vw;
    top: 0.5%;
}

body {
    margin: 0;
    min-height: 100%;
    overflow: auto;
}

html {
    margin: 0;
    height: 100%;
}

.background {
    background: $backgroundColor;
    height: 100%;
}

.play_space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.tiles_container {
    height: 90vh;
    width: 30vh;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom: -5%;
}

.tile_column {
    width: 100%;
    height: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-tokens {
    width: 10vh;
    // margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.left {
    .grey {
        left: 25vw;
        top: 20vh;
    }
}

.right {
    .white {
        right: 25vw;
        top: 20vh;
    }
}

.tile {
    width: 90%;
    height: 10%;
    margin: 5px;
    border-radius: 20%;
    filter: drop-shadow(13px 11px 1px rgba(0, 0, 0, 0.25));
}

.tile_style_1 {
    background: $tileColor1;
}

.tile_style_2 {
    background: $tileColor2;
}

.rosette {
    background: $tileColor3;
    border-radius: 0%;
    filter: drop-shadow(7px 5px 1px rgba(0, 0, 0, 0.25));
}

.token {
    width: 80%;
    padding-top: 80%;
    border-radius: 100px;
    position: relative;
    filter: drop-shadow(6px 4px 0px rgba(0, 0, 0, 0.25));
    margin: 5px;
}

.token-style-1 {
    background: $player1Color;
}

.token-style-2 {
    background: $player2Color;
}

.score_space {
    box-shadow: 0 0 0;
    background-image: none;
}

.dice {
    width: 10vh;
    height: auto;
    right: 82%;
    top: 29%;
    padding: 10vh;
    background: $tileColor1;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.dice:active {
    transform: translateY(4px);
}

.die-img {
    width: 45%;
    opacity: 100%;
}

.die_number {
    position: relative;
    font-size: 2vw;
    font-family: georgia;
    left: 19%;
    width: 0;
}

.active_space {
    width: 90%;
    height: 10%;
    margin: 5px;
    background: white;
    border-radius: 20%;
    // box-shadow: 10px 10px 10px;
}

.player_grey_score {
    font-size: 3vw;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-family: $mainFont;
    border-radius: 35px;
}

.player_white_score {
    font-size: 3vw;
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-family: $mainFont;
    border-radius: 35px;
}

.active_player {
    width: 30%;
    padding-top: 30%;
    border-radius: 100px;
    position: absolute;
    top: -50%;
    right: 35%;
    margin: 5px;
    background: white;
}

.roll_indicator {
    position: absolute;
    right: 86%;
    top: 38%;
    font-family: $secondaryFont;
    font-size: 40px;
    color: black;
}

.invisible {
    display: none;
}
